body {
    background-image: url(../images/pngfind.com-abstract-design-png-2311931.png);
    background-image: url(../images/pngfind.com-abstract-design-png-2311931.png), linear-gradient(grey, white);
    background-position: left center;
    background-repeat: no-repeat;
}

